# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\GIT\OTH\HSP-RPOSC-Redpitaya-Oszilloskop\cpp-tests\primzahl\.idea/dataSources/
/dataSources.local.xml
